@model Courier.Models.RetornoModels       
@{
    ViewBag.Title = "Configuración Impresora";
}
<style type="text/css">
html, body {
	height: 100%;
	overflow: auto;
}
body {
	padding: 0;
	margin: 0;
}
#silverlightControlHost {
	height: 100%;
	text-align:center;
}
</style>
<script type="text/javascript" src="@Url.Content("~/Silverlight.js")"></script>
    <script type="text/javascript">
        function onSilverlightError(sender, args) {
            var appSource = "";
            if (sender != null && sender != 0) {
                appSource = sender.getHost().Source;
            }

            var errorType = args.ErrorType;
            var iErrorCode = args.ErrorCode;

            if (errorType == "ImageError" || errorType == "MediaError") {
                return;
            }

            var errMsg = "Error no controlado en la aplicación de Silverlight " + appSource + "\n";

            errMsg += "Código: " + iErrorCode + "    \n";
            errMsg += "Categoría: " + errorType + "       \n";
            errMsg += "Mensaje: " + args.ErrorMessage + "     \n";

            if (errorType == "ParserError") {
                errMsg += "Archivo: " + args.xamlFile + "     \n";
                errMsg += "Línea: " + args.lineNumber + "     \n";
                errMsg += "Posición: " + args.charPosition + "     \n";
            }
            else if (errorType == "RuntimeError") {
                if (args.lineNumber != 0) {
                    errMsg += "Línea: " + args.lineNumber + "     \n";
                    errMsg += "Posición: " + args.charPosition + "     \n";
                }
                errMsg += "Nombre de método: " + args.methodName + "     \n";
            }

            throw new Error(errMsg);
        }
    </script>   
   <form id="form1" runat="server" style="height:100%">
    <div id="silverlightControlHost">
        <object data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="100%" height="100%">
		  <param name="source" value="@Url.Content("~/ClientBin/SilverlightApp.xap")"/>
		  <param name="onError" value="onSilverlightError" />
		  <param name="background" value="white" />
		  <param name="minRuntimeVersion" value="5.0.61118.0" />
		  <param name="autoUpgrade" value="true" />
          <param name="initParams" value="
          Impresora=@Model.Mensaje,
          Configuracion=9909, 
          OTP=@Model.OTP, 
          OTD=@Model.OTD, 
          Cantidad=@Model.Impresion.Cantidad, 
          Etiqueta=@Model.Impresion.TipoEtiqueta,           
          Bulto1Cantidad=@Model.Impresion.DatosBulto1.CantidadBulto,
          Bulto1Codigo=@Model.Impresion.DatosBulto1.CodigoBulto,
          Bulto1Peso=@Model.Impresion.DatosBulto1.PesoString,          
          Bulto2Cantidad=@Model.Impresion.DatosBulto2.CantidadBulto,
          Bulto2Codigo=@Model.Impresion.DatosBulto2.CodigoBulto,
          Bulto2Peso=@Model.Impresion.DatosBulto2.PesoString,          
          Bulto3Cantidad=@Model.Impresion.DatosBulto3.CantidadBulto,
          Bulto3Codigo=@Model.Impresion.DatosBulto3.CodigoBulto,
          Bulto3Peso=@Model.Impresion.DatosBulto3.PesoString,          
          Bulto4Cantidad=@Model.Impresion.DatosBulto4.CantidadBulto,
          Bulto4Codigo=@Model.Impresion.DatosBulto4.CodigoBulto,
          CantidadBultos=@Model.Impresion.CantidadBultos,
          ComunaDestino=@Model.Impresion.ComunaDestino,
          SucursalDestino=@Model.Impresion.SucursalDestino,
          Bulto4Peso=@Model.Impresion.DatosBulto4.PesoString" />

		  <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration:none">
 			  <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Obtenga Microsoft Silverlight" style="border-style:none"/>
		  </a>
	    </object><iframe id="_sl_historyFrame" style="visibility:hidden;height:0px;width:0px;border:0px"></iframe></div>
    </form>