@{
    ViewBag.Title = "En Construcción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        
                
<p style="text-align:center;">
<img src="@Url.Content("~/Images/under_construction.png")" /></p>
<p style="text-align:center;"><h3>...Sin Enlace</h3></p>
                

