@model MvcReporteViajes.Models.DetalleRutaModels
@{
   <p>@Html.DropDownListFor(m => m.COMORIGEN, Model.ListaComunasOrigen, "-- Seleccione Comuna --")</p>
   <p>@Html.DropDownListFor(m => m.EDCOMORIGEN, Model.ListaComunasOrigen, "-- Seleccione Comuna --")</p>
}


