@model MvcReporteViajes.Models.InformeViajesModels
@{
    ViewBag.Title = "FiltroInformes";
}




<div id="formContent2">
   @Html.HiddenFor(m => m.Informes)
   <div>
       <fieldset>
                <legend>Filtro</legend>
                       <table>
                             <tr>
                                
                             </tr>
                       </table>
       </fieldset>
   </div>



</div>
