@model Courier.Models.SucursalModels
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
    function CargarCobertura(idSucursal) {//codigo de comunas        
        waitingDialog({ title: "Cargando", message: "Cargando Cobertura...<br/>" });
        $.ajax({
            url: "@Url.Action("CoberturaSucursal", "Mantencion")?idSucursal=" + idSucursal,
            success: function (data) {
                $("#cobertura_sucursal").html(data);
                $("#cobertura_sucursal").dialog("open");
                closeWaitingDialog();
            }
        });
    }    
    $(function () {
        $("#dialog:ui-dialog").dialog("destroy");
        $("#cobertura_sucursal").dialog({
            autoOpen: false,
            modal: true,
            autoResize: true,
            width: 800,
            height:500,
            buttons: {
                Cerrar: function () {
                    $(this).dialog("close");
                }             
            }
        });
    });
</script>
<div id="cobertura_sucursal" title="Cobertura Sucursal"></div>
<div id="map_canvas"></div>
<div id="idCuerpo" title="Información"></div>

<link href="@Url.Content("~/Content/GridView.css")" rel="stylesheet" type="text/css" />

<div id="dialog-eliminaritem" title="Eliminar"></div>
<input type="hidden" value="0" id="eliminarlst" />
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Sucursal / CD</a></li>
	</ul>
	<div id="tabs-1">        
        <div id="myGrid">
        @{
            var grid = new WebGrid(Model.oLista, rowsPerPage: 23, ajaxUpdateContainerId: "myGrid");    
        } 

                    @grid.GetHtml(
                    fillEmptyRows: true,
                    alternatingRowStyle: "fila-alternativa",
                    headerStyle: "encabezado-grid",
                    tableStyle: "mGrid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: new[]
                    {                                                  
                        grid.Column("NombreSucursal","Destino"),
                        grid.Column("",header:"Acciones",format:

                        @<text>   
                          [<a href="#" onclick="javascript:CargarCobertura(@item.idSucursal)">Cobertura</a>]
                         </text>)
                
                    })
        </div>
    </div>
</div>